@media screen and (min-width: 750px) {
    nav.navbar {
        padding-left: 125px;
        padding-right: 125px;
    }
    .trackElement {
        width: 85%;
    }
    .artistElement {
        width: 85%;
        margin: 0 auto;
    }
    .artistProfile {
        width: 85%;
    }
}

body {
    margin: 0;
}

#logo {
    max-height: 50px;
}

.contentContainer {
    margin-top: 72px;
    height: 100%;
}

#privacyPolicy {
    padding-top: 20px;
}

#releaseFeed {
    padding-top: 20px;
}

#artistFeed {
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #D0021B;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

.loaderWrapper {
    padding-top: 50px;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.trackElement {
    margin: 0 auto;
    margin-bottom: 50px;
}

.artistCardsWrapper {
    padding-top: 20px;
}

.artistProfile {
    margin: 0 auto;
}

.artistSocials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.artistSocialLink {
    border: 2px solid #D0021B;
    padding: 3px;
    height: 34px;
    width: 34px;
    border-radius: 17px;
    margin: 0 5px;
}

.fa-soundcloud.artistSocialIcon {
    text-decoration: none;
    color: black;
    margin: 0 2px;
}

.fa-instagram.artistSocialIcon {
    text-decoration: none;
    color: black;
    margin: 0 5px;
}

.artistProfileHeadline {
    padding: 0 15px;
}

.card-title {
    padding-left: 0;
}

.trackCarousel {
    margin-top: auto;
}

.artistElement {
    margin-bottom: 50px;
}
