@media screen and (min-width: 750px) {
    nav.navbar {
        padding-left: 125px;
        padding-right: 125px;
    }
}

#logo {
    max-height: 50px;
}

.contentContainer {
    margin-top: 72px;
}

#privacyPolicy {
    padding-top: 20px;
}
